.divItemListContainer{
    background-color: rgb(81, 81, 81);
} 

.divGames{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.divGame{
    border-radius: 20px;
    overflow: hidden;
    width: 25%;
    height: 25%;
    margin: 30px;
    background-color: rgb(118, 123, 123);
}

.cardGameBody{
    padding: 10px;
}

.figure{
    width: 100%;
    height: 100%;
}

.imgGame{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btnViewMore{
    background-color: rgb(25, 142, 160);
    padding: 5px;
    border-radius: 2.5px;
    box-shadow: 0px 2.5px 5px rgb(0, 0, 0);
    &:hover{
        background-color: rgb(15, 104, 118);
    }
}